fastapi~=0.115.12
pillow~=11.2.1
python-dotenv~=1.1.0
opencv-python~=4.6.0.66
numpy~=1.26.4
openai~=1.86.0
paddleocr~=3.0.1
paddlepaddle-gpu==3.0.0
scikit-learn~=1.7.0
uvicorn[standard]
setuptools~=80.9.0
python-multipart~=0.0.20